<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
</head>
<body>
    <h1>Create New User</h1>
    <thead>
        <tr>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>CREATED AT</th>
        </tr>
    </thead>
    <Tbody>
        {% for user in users %}
        <tr>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
        </tr>
        {% endfor %}
    </Tbody>
    <a href="/user/new">add a user</a>
</body>
</html>