<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}">
</head>
<body>
    <div>
        <div>
            <h1>Recipe Dashboard!</h1>
            <div>
                <a href="/recipes/new">+ Add New Recipe</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Under 30 Minutes</th>
                    <th>Posted By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    <!-- METHOD 1
                    <p>{% if recipe.under_30 %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </p>
                
                     METHOD 2 -->
                    <td>{{ 'Yes' if recipe.under_30 else 'No' }}</td>
                    <td>{{ user.owner }}</td>
                    <td>
                        {%if recipe.user_id == user.id%}
                        <a href="/recipes/view/{{ recipe.id }}">View</a>|
                        <a href="/recipes/edit/{{recipe.id}}">Edit</a>|
                        <form action="/recipes/delete/{{recipe.id}}" method="post">
                            <input type="submit" value="Delete" class="btn btn-link">
                        </form>
                        {%else%}
                        <a href="/recipes/view/{{recipe.id}}">View</a>
                        {%endif%}
                        
                        
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

