<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="nav-links">
            <a href="/recipes" class="btn">go back</a>
            <a href="/" class="btn">Logout</a>
        </div>
        <h1>Welcome{{ recipe.name }}</h1>
        <p><strong>Description:</strong>{{ recipe.description }}</p>
        <p><strong>Instructions:</strong> {{ recipe.instruction }}</p>
        <p><strong>Date Cooked:</strong>{{ recipe.date_cooked }}</p>
        <p><strong>Under 30 Minutes:</strong>{{ 'yes' if recipe.under_30 else 'no' }}</p>
    </div>
</body>
</html>